---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import type { Project } from "../types";
import React from "../components/svg/React.astro";
import Next from "../components/svg/Next.astro";
import Typescript from '../components/svg/Typescript.astro';
import Javascript from '../components/svg/Javascript.astro';
import Node from '../components/svg/Node.astro';
import Nest from '../components/svg/Nest.astro';
import C from '../components/svg/C.astro';
import IAstro from '../components/svg/Astro.astro';
import Postgresql from '../components/svg/Postgresql.astro';
import Redis from '../components/svg/Redis.astro';
import Git from '../components/svg/Git.astro';
import Tailwind from '../components/svg/Tailwind.astro';
import Docker from '../components/svg/Docker.astro';
const projects: Project[] = [
  {
    data_open: crypto.randomUUID(), 
    desc: "Reddit clone",
    title: "Reddit",
    github_link: "https://github.com/Agreatdayforfreedom/Red.dot---Next.js-Reddit-Clone-",
    page_link: "https://reddot-roan.vercel.app/",
    img_paths: ["/home.avif"],
    tecnologies: [
      { content: "Next.js", color: "#374151" },
      { content: "Postgresql", color: "#008bb9" },
      { content: "Typescript", color: "#3178c6" },
    ],
  },
  {
    data_open: crypto.randomUUID(), 
    title: "Library",
    desc: "E-commerce of books",
    github_link: "https://github.com/Agreatdayforfreedom/react-nestjs-ecommerce",
    page_link: "https://github.com/Agreatdayforfreedom/react-nestjs-ecommerce",
    img_paths: [],
    tecnologies: [
      { content: "React", color: "#04d8f9" },
      { content: "Postgresql", color: "#008bb9" },
      { content: "Nest.js", color: "#E0234E" },
      { content: "Typescript", color: "#3178c6" },
    ],
  },
  {
    data_open: crypto.randomUUID(), 
    title: "BMP to ASCII",
    desc: "lorem",
    github_link: "https://github.com/Agreatdayforfreedom/image-to-ascii",
    page_link: "https://github.com/Agreatdayforfreedom/image-to-ascii",
    img_paths: ["/girl.avif", "/bulm.avif"],
    tecnologies: [
      { content: "C", color: "#374151" },
    ],
  },
  {
    data_open: crypto.randomUUID(), 
    title: "Heapoverflow",
    desc: "Stackoverflow clone with MERN stack",
    github_link: "https://github.com/Agreatdayforfreedom/stackoverflow-mern-clone",
    page_link: "https://stackoverflow-mern-clone.vercel.app/",
    img_paths: ["/heapoverflow1.avif", "/heapoverflow2.avif"],
    tecnologies: [
      {content: "Node.js", color: "#83BA63"},
      { content: "Typescript", color: "#3178c6" },
      {content: "Mongodb", color: "#00ED64"},
      {content: "Redux", color: "#764ABC"},
      {content: "React.js", color: "#04d8f9"},
    ]
  }
];
---

<Layout title="Matias Bertoni">
  <main class="relative mt-8 z-10 w-full bg-transparent flex justify-center">
    <div class="max-w-[75%] flex">
      <div class="w-full space-y-4">
        <div>
          <h1 class="text-4xl font-semibold">Matias Bertoni</h1>
          <section class="text-[#b8b8b8]">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad corporis, laudantium eos commodi deleniti doloremque quam beatae nisi eveniet
              quas!
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad corporis, laudantium eos commodi deleniti doloremque quam beatae nisi eveniet
              quas!
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad corporis, laudantium eos commodi deleniti doloremque quam beatae nisi eveniet
              quas!
            </p>
          </section>

          <section class="flex flex-col mt-10">
            <h2 class="text-2xl text-white">Projects</h2>
            <div class="mt-4 grid gap-y-2 sm:grid-cols-2 sm:gap-x-2 lg:grid-cols-3">
              {
                projects.map((p) => (
                  <ProjectCard
                    data_open={p.data_open}
                    desc={p.desc}
                    title={p.title}
                    github_link={p.github_link}
                    img_paths={p.img_paths}
                    page_link={p.page_link}
                    tecnologies={p.tecnologies}
                  />
                ))
              }
            </div>
          </section>
          <section class="mt-10">
            <h2 class="text-2xl text-white">Tecnologies</h2>
            <div class="flex flex-wrap gap-2  mt-4">
                <React />
                <Next />
                <Typescript />
                <Javascript />
                <Node />
                <Nest />
                <C />
                <IAstro/>
                <Postgresql/>
                <Redis />
                <Git />
                <Tailwind />
                <Docker />
            </div>
          </section>
        </div>
      </div>
    </div>
  </main>
</Layout>
