---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import React from "../components/svg/React.astro";
import Next from "../components/svg/Next.astro";
import Typescript from '../components/svg/Typescript.astro';
import Javascript from '../components/svg/Javascript.astro';
import Node from '../components/svg/Node.astro';
import Nest from '../components/svg/Nest.astro';
import C from '../components/svg/C.astro';
import IAstro from '../components/svg/Astro.astro';
import Postgresql from '../components/svg/Postgresql.astro';
import Redis from '../components/svg/Redis.astro';
import Git from '../components/svg/Git.astro';
import Tailwind from '../components/svg/Tailwind.astro';
import Docker from '../components/svg/Docker.astro';
import Redux from "../components/svg/Redux.astro";
import Rust from "../components/svg/Rust.astro";
import { projects } from "../data";
import ArrowLeft from "../components/svg/ArrowLeft.astro";
import ArrowRight from "../components/svg/ArrowRight.astro";
import Tooltip from "../components/Tooltip.astro";

---

<Layout title="Matias Bertoni">
  <main class="relative mt-8 z-10 w-full  flex justify-center">
    <div class="max-w-[90%] sm:max-w-[75%] flex">
      <div class="w-full">
        <div class="space-y-20">
          <section class="text-[#b8b8b8] space-y-2">
            <h1 class="fade-in-up text-4xl font-semibold text-white">Matias Bertoni</h1>
            <p class="fade-in-up delay-02">
              I am a full stack developer from Argentina.
            </p>
            <p class="fade-in-up delay-02">
              I started my journey by learning game development, but later I got interested in Javascript and web development. I have knowledge of front-end, back-end and databases, all of which I acquired through self-teaching. I am continuously learning not only about web development, but I also enjoy learning about things like game dev, maths, etc. 
            </p>
            <div class="flex pt-2 space-x-1 fade-in-up delay-03">
              <p>You can find me on</p>
              <a href="http://github.com/Agreatdayforfreedom" target="_blank" class="border-b hover:border-slate-500 hover:text-white cursor-pointer transition-colors">Github</a>
              <span>&#183;</span>
              <a href="http://linkedin.com/in/matias-bertoni-709248274" target="_blank" class="border-b hover:border-slate-500 hover:text-white cursor-pointer transition-colors">LinkedIn</a>
            </div>
          </section>

          <section class="flex flex-col">
            <header class="flex justify-between items-center w-full">

              <h2 class="text-2xl text-white">Projects</h2>
              <a href="/projects" class="flex items-baseline group">
                <span class="mr-1 group-hover:translate-x-1 delay-[50ms] transition-transform">More</span> <div class="group-hover:translate-x-1 transition-transform"><ArrowRight size={12} /></div>
              </a>
            </header>
            <div class="mt-4 grid gap-y-2 sm:grid-cols-2 sm:gap-x-2 lg:grid-cols-3">
              {
                projects.slice(0,6).map((p) => (
                  <ProjectCard
                    data_open={p.data_open}
                    desc={p.desc}
                    title={p.title}
                    github_link={p.github_link}
                    img_paths={p.img_paths}
                    page_link={p.page_link}
                    tecnologies={p.tecnologies}
                  />
                ))
              }
            </div>
          </section>
          <section>
            <h2 class="text-2xl text-white">Tecnologies</h2>
            <div class="flex flex-wrap gap-10 sm:gap-8 mt-4 justify-center">
              <Tooltip content="React">
                <div class="flex flex-col items-center">
                  <React />
                  <span class="text-sm text-nowrap font-bold sm:hidden">React</span>
                </div>
              </Tooltip>
              <Tooltip content="Next.js">
                <div class="flex flex-col items-center">
                  <Next />
                  <span class="text-sm text-nowrap font-bold sm:hidden">Next.js</span>
                </div>
              </Tooltip>
              <Tooltip content="Typescript">
                <div class="flex flex-col items-center">
                  <Typescript />
                  <span class="text-sm text-nowrap font-bold sm:hidden">Typescript</span>
                </div>
              </Tooltip>
              <Tooltip content="Javascript">
                <div class="flex flex-col items-center">
                  <Javascript />
                  <span class="text-sm text-nowrap font-bold sm:hidden">Javascript</span>
                </div>
              </Tooltip>
              <Tooltip content="Node">
                <div class="flex flex-col items-center">
                  <Node />
                  <span class="text-sm text-nowrap font-bold sm:hidden">Node</span>
                </div>
              </Tooltip>
              <Tooltip content="Nest">
                
                <div class="flex flex-col items-center">
                  <Nest />
                  <span class="text-sm text-nowrap font-bold sm:hidden">Nest</span>
                </div>
              </Tooltip>
              <Tooltip content="PostgreSQL">
                <div class="flex flex-col items-center">
                <Postgresql/>
                  <span class="text-sm text-nowrap font-bold sm:hidden">PostgreSQL</span>
                </div>
              </Tooltip>
              <Tooltip content="C">
                <div class="flex flex-col items-center">
                  <C />
                  <span class="text-sm text-nowrap font-bold sm:hidden">C</span>
                </div>
              </Tooltip>
              <Tooltip content="Rust">
                <div class="flex flex-col items-center">
                  <Rust />
                  <span class="text-sm text-nowrap font-bold sm:hidden">Rust</span>
                </div>
              </Tooltip>
              <Tooltip content="Astro">
                <div class="flex flex-col items-center">
                  <IAstro/>
                  <span class="text-sm text-nowrap font-bold sm:hidden">Astro</span>
                </div>
              </Tooltip>
              <Tooltip content="Redux">
                
                <div class="flex flex-col items-center">
                  <Redux />
                  <span class="text-sm text-nowrap font-bold sm:hidden">Redux</span>
                </div>
              </Tooltip>
              <Tooltip content="Redis">
                <div class="flex flex-col items-center">
                  <Redis />
                  <span class="text-sm text-nowrap font-bold sm:hidden">Redis</span>
                </div>
              </Tooltip>
              <Tooltip content="Git">
                <div class="flex flex-col items-center">
                  <Git />
                  <span class="text-sm text-nowrap font-bold sm:hidden">Git</span>
                </div>
              </Tooltip>
              <Tooltip content="Tailwind">
                <div class="flex flex-col items-center">
                  <Tailwind />
                  <span class="text-sm text-nowrap font-bold sm:hidden">Tailwind</span>
                </div>
              </Tooltip>
              <Tooltip content="Docker">
                <div class="flex flex-col items-center">
                  <Docker />
                  <span class="text-sm text-nowrap font-bold sm:hidden">Docker</span>
                </div>
              </Tooltip>
            </div>
          </section>
        </div>
      </div>
    </div>
  </main>
</Layout>
