---
import type { Project } from '../types';
import Bagde from './Bagde.astro'
import ImagePreview from './ImagePreview.astro'
import Github from './svg/Github.astro';
interface Props extends Project {};



const { page_link, github_link, title, desc, tecnologies } = Astro.props;
---

<article class="flex flex-col border border-slate-800 space-y-1 px-5 py-3 rounded-md w-full">
  <div class="flex justify-between">
    <a href={page_link} target="_blank"  class="text-xl font-semibold">
      <h2>
        {title}
        <span></span>
      </h2>
    </a>
    <a href={github_link} aria-label="Github repository" target="_blank" class="flex items-center"><Github size={18} /></a>
  </div>
  <p class="text-sm ml-2 py-2">
    {desc}
  </p>
	<div class="gap-2 flex flex-wrap items-center flex-1">
		{tecnologies.map((c) => (
			<Bagde color={c.color}>{c.content}</Bagde>
		))}
	</div>
  <ImagePreview img={"/bmp_to_ascii.jpg"}/>
</article>
