---
import type { Project } from '../types';
import Bagde from './Bagde.astro'
import ImagePreview from './ImagePreview.astro'
import Github from './svg/Github.astro';
interface Props extends Project {};



const { data_open, page_link, github_link, title, desc, img_paths, tecnologies } = Astro.props;
---

<article class="flex flex-col border border-slate-800 space-y-1 px-5 py-3 rounded-md w-full backdrop-brightness-200   backdrop-saturate-200 backdrop-contrast-200">
  <div class="flex justify-between">
    <a href={page_link} target="_blank" class="text-xl font-semibold hover:underline ">
      <h2 >
        {title}
        <span></span>
      </h2>
    </a>
    <div class="flex items-center space-x-4">

      <ImagePreview data_open={data_open} paths={img_paths}/>
      
      <a href={github_link} aria-label="Github repository" target="_blank" class="flex items-center transition-transform"><Github size={22} /></a>
    </div>
  </div>
  <p class="text-sm ml-2 py-2">
    {desc}
  </p>
	<div class="gap-2 flex flex-wrap items-center flex-1">
		{tecnologies.map((c) => (
			<Bagde color={c.color}>{c.content}</Bagde>
		))}
	</div>
</article>
